<header class="py-16 sm:text-center shadow rounded  py-2 ">
    <!— Шапка сайта —>
      <h1 class="text-3xl font-bold">
        Мой блог
      </h1>
      <p class="text-lg text-slate-700 dark:text-slate-400 mb-4 mt-2">
        Теги web,html

      </p>
      <form action="/subscriptions" method="post" class="">
        <div class="mb-2 group relative">
          <input
            class="caret-pink-500 shadow appearance-none border rounded  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username" type="text" placeholder="Почта">
          <input type="submit" value="Подписаться"
            class="ml-4 bg-sky-500 flex-auto shadow text-white rounded-md text-sm px-3 py-2 ">
        </div>
      </form>
  </header>
