<article class=" flex flex-col">
  <h3 class="mb-4 text-xl text-slate-900 tracking-tight font-bold dark:text-slate-200">{{page.title}}</h3>
  <dl class="flex flex-row text-sm items-center">
      <dt>Date: </dt>
      <dd
        class="text-sm leading-6 dark:text-slate-400">
        <time datetime="{{page.last_published_at}}">{{ page.last_published_at}}</time></dd>
      </dl>
  <div class="mb-6 prose prose-slate dark:prose-dark">
    <p class="text-sm sm:text-lg">{{ page.intro}}
    </p>
  </div>
  <div class="mt-auto flex flex-row-reverse items-center justify-end">
      <a
      class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500"
      href="{{ page.url }}">Read more<span class="sr-only">, Headless UI v1.5: The One With
        Comboboxes</span><svg
        class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
        width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <path d="M0 0L3 3L0 6"></path>
      </svg></a>
          </div>
</article>