<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Заголовок страницы</title>
  <link rel="stylesheet" href="css/tailwindcss.css">

</head>

<body class="flex flex-col justify-between ">
  <header>
    <nav class="flex  flex-col md:flex-row  items-center justify-between flex-wrap bg-teal-600/80 p-2">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
        </svg>
        <span>Netro.fun</span>
      </div>
      <div class="flex items-center text-sm sm:text-lg ">
        <a href="#responsive-header" class="block  lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          About
        </a>
        <a href="#responsive-header" class="block  lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Blog
        </a>
        <a href="#responsive-header" class="block  lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Github
        </a>
        <a href="#responsive-header" class="block  lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Habr
        </a>
        <a href="#responsive-header" class="block  lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Tg
        </a>
      </div>
      <div>
        <form>
          <input type="search" id="default-search"
            class="block p-2 pl-4 w-full text-sm text-gray-900 bg-gray-50 rounded-sm border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search Post..." required>
      </form>
      </div>
      </div>
    </nav>
  </header>
  <main class="w-full">
  </main>
</body>

</html>