{% extends "base.html" %}
{% load static wagtailcore_tags %}
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/prism_lang.css' %}">
    <script src="{% static 'js/prism_lang.css' %}">

    {% endblock %}

{% block content %}
<main>
    <article class="relative pt-10">
        <header>
            <h2 class="text-5xl pb-10 font-serif text-lg text-gray-800 text-center">{{ page.title }}
            </h2>
            <div class="text-sm leading-6"><dl><dt class="sr-only">Дата</dt><dd class="absolute top-0 inset-x-0 text-slate-700 dark:text-slate-400"><time datetime="2022-02-24T12:00:00.000Z">Thursday, February 24, 2022</time></dd></dl></div>
        </header>
        <main class=" rounded overflow-hidden shadow-lg p-4  flex flex-col gap-1 bg-gray-100 font-sans text-lg text-gray-900 ">
            {% for block in page.body %}
            {% include_block block %}
            {% endfor %}
        </main>
    </article>
    <div id="anycomment-app" class="mt-2 pt-4 border-t-2 border-indigo-500 rounded"></div>
</main>

{% endblock %}
    {% block first_extra_js %}
<script>
AnyComment = window.AnyComment || []; AnyComment.Comments = [];
AnyComment.Comments.push({
    "root": "anycomment-app",
    "app_id": 4013,
    "language": "ru"
})
var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
s.src = "https://widget.anycomment.io/comment/embed.js";
var sa = document.getElementsByTagName("script")[0];
sa.parentNode.insertBefore(s, s.nextSibling);
</script>
{% endblock %}

