{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block global_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/prism_lang.css' %}">
    <script src="{% static 'js/prism_lang.js' %}"></script>
{% endblock %}
    {% block space_line %}
    <div class="h-1 info">
        {% include 'snippet/bc.html' %}
    </div>
    {% endblock %}

{% block content %}

        <h2>{{ page.title }}</h2>
        <article>
                        {% for block in page.body %}
            {% include_block block %}
            {% endfor %}

        </article>
    <div id="anycomment-app" class="m-2 ml-2 mr-2"></div>
    <script>
    AnyComment = window.AnyComment || []; AnyComment.Comments = [];
    AnyComment.Comments.push({
        "root": "anycomment-app",
        "app_id": 4013,
        "language": "ru"
    })
    var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
    s.src = "https://widget.anycomment.io/comment/embed.js";
    var sa = document.getElementsByTagName("script")[0];
    sa.parentNode.insertBefore(s, s.nextSibling);
    </script>

{% endblock %}